*{
    margin:0px;
    padding:0px;
    font-family: cursive;
    border: 0px;
    /* background-color: white; */
}
.fondo{
    position: fixed;
    margin: 100px 30%;
    z-index: -23;
}
#header{
    text-align: right;
    width: 15rem;
    /* border: 1px solid red; */
    background-color: red;
    margin: 0px 0px 0px auto;
    border-bottom-left-radius: 50px ;
    /* width:100% */
    padding: 0px;
    
}
.logo{
    display:flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    color:white;
    column-gap: 20px;
}

/* Aquí esta esta creado la decoración periferica del formulario */
#body{
    width: 100%;
    margin: 0px auto;
    box-sizing: border-box;
    background-color: rgb(235, 235, 235);

}
.formulario{
    display:grid;
    width: 65%;
    margin: 0px auto;
    /* border: solid 1px black; */
}
.imagen{
    width: 180px;
    height: 150px;
}
.a1{
    display:grid;
    margin-right: 15px;
}
.contenedor_imagen{
    display:grid;
    margin-bottom: 35px;
    text-align: center;
}
.contenedor_general{
    display:grid;
    grid-template-columns: repeat(2, 50%);
    gap: 15px
}
.contenedor_descripcion{
    grid-row:3/5;
}
.descripcion{
    height: 80px;
}
.contenedor_envio{
    text-align: right;
    margin-right: 15px;
}
.boton_enviar{
    background-color: green;
    color:white;
    width: 6em;
    border-radius: 1em;
    padding: 2px 0px;
    font-size: 15px;
    font-weight: none;
}
.boton_cancelar{
    background-color: green;
    color:white;
    width: 6em;
    border-radius: 1em;
    padding: 2px 12px;
    text-decoration: none;
    font-size: 15px;
    font-weight: none;
}
.desaparece{
    display:none;
}
.boton_selec:hover{
    background-color: black;
}